/* LOGIN PAGE STYLES */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    background-color: #FFF5F0; /* Light peach background */
    min-height: 100vh; /* Full viewport height */
    padding: 40px;
    font-family: Arial, sans-serif;
  }



.close_btn { /**/
    position: relative;
    width: 100%;
    height: 40px;
    background: #F6ECE1;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 15px;
    font-family: 'Comfortaa', sans-serif;
}



.reset_wrapper { 
    position: relative;
    width: 411px;
    height: 480px;
    background: #FFF9F2;
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
    justify-content: center;
}

.form_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}


.reset_wrapper.active .form_container.sign_in {
    transform: scale(0);
}

.reset_wrapper .form_container.sign_up {
    position: absolute;
    top: 0;
    transform: scale(0);
}

.reset_wrapper.active .form-container.sign-up {
    transform: scale(1);
}

.form_container h2 {
    font-size: 30px;
    color: black;
    text-align: center;
}

.input_group {  /**/
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #FF5C39;
}

.input_group label { /**/
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    font-family: 'Comfortaa', sans-serif;
}

.input_group input { /**/
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: black;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    font-family: 'Comfortaa', sans-serif;
}

.input_group input:focus ~ label, /**/
.input_group input:valid ~ label {
    top: -5px;
    color: #FF5C39;
    font-size: 12px;
}

a { /**/
    color: #FF5C39;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Comfortaa', sans-serif;
}
 
h2 {
    font-family: 'Comfortaa', sans-serif;
}


.toggle_text {
    font-family: 'Comfortaa', sans-serif;
    cursor: pointer;
    color: black;
}

.text { /**/
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
}
 
.remember_container{
display: flex;
  align-items: center;
  gap: 5px;

}

/*button {
    margin: 0; 
    margin-top: 20px;
  }*/
